/* Core */
@import 'core/_fonts.css';
@import 'core/_variables.css';
@import 'core/_reset.css';

/* Components */
@import 'components/_grid.css';
@import 'components/_buttons.css';
@import 'components/_forms.css';
@import 'components/_cards.css';
@import 'components/_parallax.css';
@import 'components/_navbar.css';
@import 'components/_video.css';
@import 'components/_hero.css';

/* Utilities */
@import 'utilities/_spacing.css';
@import 'utilities/_text.css';

/* Theme */
@import 'theme/_dark.css';
@import 'theme/_toggle.css';

.container {
    width: 95%;
    max-width: var(--container-max-width);
    margin-left: max(8px, auto);
    margin-right: max(8px, auto);
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
}
