<nav class="navbar">
  <div class="container navbar-container">
    <a href="#" class="navbar-brand">Yocto CSS</a>
    <button class="navbar-toggle" aria-label="Toggle navigation">
      <span class="navbar-toggle-icon"></span>
    </button>
    <div class="navbar-menu">
      <a href="../examples/index.html" class="navbar-link active">Home</a>
      <a href="../examples/article.html" class="navbar-link">Article</a>
      <a href="../examples/parallax.html" class="navbar-link">Parallax</a>
    </div>
  </div>
</nav>
